.htaccess  
Armados/QR
Armados/Fotografias
APK
Firmas
Ingresos/QR
Movil/QR
TARJAS

Ingresos/pdf-master
Ingresos/PhpOffice
Ingresos/phpqrcode
Ingresos/PHPWord-master
Ingresos/vendor
Ingresos/FirmasTransportistas
Ingresos/Fotografias
Ingresos/vendor

Armados/dompdf-master
Armados/pdf-master
Armados/PhpOffice
Armados/phpqrcode
Armados/PHPWord-master
Armados/vendor

Revision/dompdf-master
Revision/pdf-master
Revision/PhpOffice
Revision/phpqrcode
Revision/vendor

Salidas/dompdf-master
Salidas/pdf-master
Salidas/PhpOffice
Salidas/phpqrcode
Salidas/vendor
Salidas/FirmasTransportistas
Salidas/Fotografias
/Salidas/vendor
Salidas/vendor
templates/vendor
Salidas/PHPWord-master

MovilVersiones
